.titulo{

	min-width: 100%;
	background-color: green;
	height: 30%;
	text-align: center;
	padding-top: 60px;
	margin-top: 10px;
	position: relative;
	font-family: arial;
	font-size: 1.3em;
}

.fieldset{

	width: 35%;
	margin: auto;

}

.botoes{

	width: 35%;
	margin: auto;
}

.rodape{

	width: 100%;
	background-color: green;
	min-height: 70px;
	position: relative;
	font-family: arial;
	font-size: 1em;
	text-align: center;

}
